* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

*::selection {
    color: white; 
    background: #000; 
}

*::moz-selection {
    color: white; 
    background: #000; 
}

html {
    background-color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.desktop_nav {
    display: flex;
    margin-top: 80px;
    height: 67px;
    width: 80vw;
    align-items: center;
}

.menu {
    display: flex;
    position: relative;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.list {
    display: flex;
    width: 601px;
    justify-content: space-between;
}

.spray {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 200px;
    height: 200px;
    top: 20px;
    left: 0px;
}

.hidden {
    display: none;
}

.desktop_logo {
    width: 50%;
}

.logo {
    width: 244px;
    height: 67px;
    cursor: pointer;
}

.list__item__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #1A1811;
    transition: 0.3sec;
}

.gallery {
    position: absolute;
    top: 247px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: grid;
    width: 80vw;
    height: 725px;
    grid-template-columns: 40vw 39vw;
    grid-template-rows: 358px 163px 163px;
    grid-template-areas: "img1 img1"
                        "img2 img3"
                        "img2 img4";
    gap: 20px;
    margin-bottom: 140px;
}

.gallery2 {
    position: absolute;
    z-index: 200;
    top: 247px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: grid;
    width: 80vw;
    height: 725px;
    grid-template-columns: 40vw 39vw;
    grid-template-rows: 358px 163px 163px;
    grid-template-areas: "img1 img1"
                        "img2 img3"
                        "img2 img4";
    gap: 20px;
    margin-bottom: 140px;
}

.gallery_image1 {
    opacity: 0;
    transform: translateY(20px);
    width: 100%;
    height: 100%;
    grid-area: img1;
    object-fit: cover;
}

.gallery_image2 {
    animation-name: fade_gallery2;
    animation-duration: 1.2s;
    width: 100%;
    height: 100%;
    grid-area: img2;
    object-fit: cover;
}

.gallery_image3 {
    opacity: 0;
    transform: translateY(20px);
    width: 100%;
    height: 100%;
    grid-area: img3;
    object-fit: cover;
}

.gallery_image4 {
    opacity: 0;
    transform: translateY(10px);
    width: 100%;
    height: 100%;
    grid-area: img4;
    object-fit: cover;
}

.gallery_image1_hidden {
    opacity: 0;
    width: 100%;
    height: 100%;
    grid-area: img1;
    object-fit: cover;
    cursor: pointer;
}

.gallery_image2_hidden {
    opacity: 0;
    width: 100%;
    height: 100%;
    grid-area: img2;
    object-fit: cover;
    cursor: pointer;
}

.gallery_image3_hidden {
    opacity: 0;
    width: 100%;
    height: 100%;
    grid-area: img3;
    object-fit: cover;
    cursor: pointer;
}

.gallery_image4_hidden {
    opacity: 0;
    width: 100%;
    height: 100%;
    grid-area: img4;
    object-fit: cover;
    cursor: pointer;
}

.cans_preview {
    position: absolute;
    top: 1112px;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.cans_preview2 {
    position: absolute;
    top: 1112px;
    width: 100%;
    display: none;
    justify-content: center;
    opacity: 0;
}

.textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 532px;
}

.textblock_content {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 114%;
    width: 359.04px;
    height: 207px;
    text-align: justify;
    color: #1A1811;
}

.cans_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 532px;
}

.graffity {
    margin-bottom: 33px;
    width: 169px;
    height: 70px;
}

.cans_button {
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 1000;
    font-size: 16px;
}

.cans {
    opacity: 0;
    width: 512px;
    height: 600px;
    transform: translateY(20px);
}

.cans.show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.form_section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form_bg {
    position: absolute;
    z-index: 80;
    top: 1784px;
    width: 80vw;
    height: 644px;
    object-fit: cover;
}

.form_text {
    position: absolute;
    opacity: 0;
    z-index: 90;
    top: 2187px;
    left: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 114%;
    transform: translateX(-20px);
    color: white;
}

.form_text.show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0%);
}

.form_subtext {
    position: absolute;
    z-index: 90;
    top: 2238px;
    left: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 114%;
    color: white;
}

.form_subtext_link {
    color: rgb(255, 190, 25);
}

.form_container {
    display: flex;
    justify-content: space-between;
}

.inputname_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 305px;
    z-index: 100;
    left: 250px;
    top: 2303px;
}

.inputname {
    width: 305px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 114%;
    padding-left: 20px;
    color: #1A1811;
    outline: none;
}

.input_paint {
    pointer-events: none; 
}

.inputtel {
    position: absolute;
    z-index: 100;
    width: 305px;
    height: 50px;
    left: 575px;
    outline: none;
    top: 2303px;
    background: #FFFFFF;
    border-radius: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 114%;
    padding-left: 20px;
    color: #1A1811;
}

.paint_button {
    position: absolute;
    z-index: 100;
    width: 237px;
    height: 101px;  
    top: 2293px;
    left: 921px;
    pointer-events: none; 
    cursor: pointer;
}

.form_submit {
    cursor: pointer;
    position: absolute;
    z-index: 110;
    top: 2316px;
    left: 975px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 114%;
    text-align: center;
    color: #1A1811;
}

footer {
    display: flex;
    position: absolute;
    top: 2598px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #1A1811;
    color: #1A1811;
}

.footer_list {
    margin-right: 60px;
}

.footer_items {
    display: flex;
    width: 40vw;
    height: 138px;
    align-items: center;
}

.footer_items_2 {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    height: 138px;
    align-items: center;
}

.footer_list_item {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 114%;
    margin-bottom: 15px;
    color: white;
}

.social_logo {
    display: flex;
    justify-content: space-between;
    width: 117px;
    height: 27px;
    margin-bottom: 15px;
}

.sm_logo {
    cursor: pointer;
}

.background_images {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 2640px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section1_o {
    position: absolute;
    z-index: -1;
    width: 512px;
    height: 512px;
    left: -228px;
    top: 426.06px;
    background: url(./asserts/images/section3_o.png);
    transform: rotate(-9.9deg);
}

.section1_x {
    position: absolute;
    z-index: -1;
    width: 512px;
    height: 512px;
    left: 1200px;
    top: 247px;
    background: url(./asserts/images/section1_x.png);
    transform: rotate(1.7deg);
}

.section3_o {
    position: absolute;
    z-index: -1;
    width: 512px;
    height: 512px;
    left: -261px;
    top: 2108.06px;
    background: url(./asserts/images/section3_o.png);
    transform: rotate(-9.9deg);
}

.section3_x {
    z-index: -1;
    position: absolute;
    width: 512px;
    height: 512px;
    left: 1284.61px;
    top: 1614px;
    background: url(./asserts/images/section3_x.png);
    transform: rotate(26.39deg);
}




.mobile_nav {
    display: none;
    margin-top: 80px;
    height: 67px;
    width: 80vw;
    align-items: center;
}

.mobile_logo {
    display: flex;
    width: 40vw;
    justify-content: flex-start;
}

.m_logo {
    width: 150px;
    height: 40px;
}

.burger_menu_container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
}

.burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 21px;
}

.burger_menu_span {
    width: 26px;
    height: 5px;
    background: #1A1811;
    border-radius: 5px;
}

.mobile_footer {
    display: none;
    width: 80vw;
    height: 100px;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .desktop_nav {
        display: none;
    }
    .mobile_nav {
        display: flex;
    }
    .section3_x, .section1_x {
        left: 300px;
    }
    .cans_image {
        height: 600px;
        z-index: -3;
    }
    .cans_preview {
        overflow-x: hidden;
        height: 1000px;
    }
    .form_text {
        width: 200px;
        height: 56px;
        left: 190px;
        top: 1860px;
        font-size: 21px;
        text-shadow: black 1px 1px;
    }
    .form_subtext {
        width: 200px;
        height: 56px;
        left: 190px;
        top: 1950px;
        font-size: 11px;
        text-shadow: black 1px 1px;
    }
    .inputname_container {
        left: 100px;
        top: 2100px;
    }
    .inputname {
        width: 260px;
    }
    .input_paint {
        width: 200px;
    }
    .inputtel {
        width: 260px;
        left: 100px;
        top: 2200px;
    }
    .form_submit {
        left: 125px;
        top: 2323px;
    }
    .paint_button {
        left: 100px;
        top: 2300px;
    }
    .footer_items {
        display: none;
    }
    .footer_items_2 {
        display: none;
    }
    .mobile_footer {
        display: flex;
        margin-bottom: 100px;
    }
    .footer_list {
        text-align: center;
        margin-right: 0px;
    }
    .footer_list_item {
        font-size: 10px;
    }
    footer {
        height:45%
    }
    .textblock_content {
        margin-bottom: 100px;
        width: 190px;
        height: 164px;
        font-size: 9px;
    }
    .form_mobile_container {
        position: absolute;
        display: grid;
        z-index: 85;
        width: 80vw;
        left: -45px;
        top: -20px
    }
    .cans_button {
        margin-top: -160px;
    }
    .paintGif {
        display:none;
    }
    .social_logo {
        width: 100px;
    }
}

@media screen and (width:1280px) {
    .form_text {left: 220px;}
    .form_subtext {left: 220px;}
    .inputname_container {left: 220px;}
    .inputtel {left: 555px;}
    .form_submit {left: 955px;}
    .paint_button {left: 901px;}
}

.list__item__link:hover{
    color:#FFFFFF;
}

.gallery_image1.show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.gallery_image3.show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.gallery_image4.show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.section3_o.show {
    opacity: 1;
    transition: all 1.5s;
}

@keyframes fade{
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes fade_gallery2{
    0%{opacity:0;
    transform: translateY(20px);}
    100%{opacity:1;
    transform: translateY(0%);}
}

@keyframes hidden{
    0%{opacity:1;}
    100%{opacity:0;}
}

@keyframes changecolor {
    0%{
    filter: brightness(100%);}
    100% {
    filter: brightness(200%);
    }
}

@keyframes changecolorReverse {
    0%{
    filter: brightness(200%);}
    100% {
    filter: brightness(100%);
    }
}

.paintGif {
    opacity: 0;
    position: absolute;
    z-index: -2;
    top: 1112px;
}

.paintGif.show {
    opacity: 1;
    transition: all 1.5s;
}
